body{
  background: url(https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg);
  background-repeat: no-repeat;
}

div{
  background: red;
  border-color: blue;
  border-width: 3px;
  border-style: double;
}
p{
  color: yellow;
}

span{
  background: green;
  color: black;
}
